/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
//background: url('/assets/img/elements/footer_payonline_26x30.png') right center no-repeat transparent;
//.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);

//Universal ------------------

body{
  background-color: white;
  min-width: 970px;
}

.container-fixed {
  margin: 0 auto;
  max-width: 970px;
}
.container-fixed > hr {
  margin: 30px 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

body{
	background-color: purple; 
}